*{
  margin: 0;
  padding: 0;
}
.main{
  width: 100%;
  height: 109vh;
  background: linear-gradient(to top,rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url('m.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
  .navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
  }   
.icon{
  width: 200px;
  float: left;
  height: 70px
  ;
  
}
.logo{
  color: green;
  font-size: 25px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}
.menu{
  width: 400px;
  float: left;
  height: 70px;
}
ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}
ul li a{

  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
} 
ul li a:hover{
  color: rgb(0, 255, 136);
}
.search{
  width: 330px;
  float: left;
  margin-left: 270px;

}
.srch{
  font-family: 'Times New Roman';
  font-size: 16px;
  float: left;
  border: 1px solid rgb(67, 65, 65);
  padding: 10px;
  height: 40px;
  width: 200px;
  border-right: NONE;
  margin-top: 13px;
  background: gray;
  color: antiquewhite;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

}
.btn{
  font-size: 15px;
  height: 40px;
  width: 100px;
  margin-top: 13px;
  background: rgb(83, 83, 87);
  border: 2px solid rgb(130, 140, 135);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
}
.btn:hover{
  background-color: rgb(0, 255, 136);
  color: white;
  transition: 0.4s ease-in-out;
}
.btn:focus{
  outline: none;
}
.srch:focus{
  outline: none;
}
.content{
  width: 1200px;
  height: auto;
  margin: auto;
  color: white;
  position: relative;
  top: 80px;
}
.content .part{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}
.content h1{
  font-family: 'Times New Roman';
  font-size: 35px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}
.content .cn{
  width: 160px;
  height: 40px;
  background:green;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer
}
.content .cn a{
  text-decoration: none;
  color:black;
  transition: .3s ease;
  }
.cn:hover{
   background-color: aliceblue;  

  }
.content span{
  color: green;
  font-size: 40px;
}
.form{
  width: 250px;
  height: 380px;
  background: linear-gradient(to top,rgb(0,0,0,0.8) 50%, rgb(0,0,0,0.8) 50%);
  position:absolute;
  top: -20px;
  left: 870px;
  border-radius: 10px;
  padding: 25px;
}
.form h2{
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: green;
  font-size: 22px;
  background-color: white;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}
.form input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid green;
  border-top: none ;
  border-right: none;
  border-left: none;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}
.form input:focus{
  outline: none;
}
::placeholder{
  color:white;
  font-family: Arial;

}
.btnn{
  width: 240px;
  height: 40px;
  background: green;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color:white
}
.btn:hover{
  background: white;
  color: green;
}

.btnn a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.form .link{
   font-family: Arial;
   font-size: 17px;
   padding-top: 20px;
   text-align: center;
}
.form .link a{
  text-decoration: none;
  color: green;
}
.liw{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}
.icon a{
  text-decoration: none;
  color: white;
}
.icon ion-icon{
  color: white;
  font-size: 24px;
  padding-left: 5px;
  padding-top: 2px;

}
.icon a:hover ion-icon{
  color: green;
  transition: 0.4s ease-in-out;
}
@media (max-width: 668px) {
   .navbar {
    flex-direction: column;
    height: auto;
    padding: 8px;
  }

  .menu ul {
    flex-direction: column;
    text-align: center;
    margin-top: 5px;
  }

  .menu ul li {
    margin: 5px 0;
  }


  .content {
    flex-direction: column;
    width: 70%;
    margin-top: 30px;
    text-align: center;
  }

  .content h2 {
    font-size: 25px;
  }

  .content span {
    font-size: 20px;
  }

  
  .form {
    width: 100%;
    margin-top: 20px;
  }

  .search {
    margin-top: 8px;
  }
}








